<div>
    <form [formGroup]="empRef" (ngSubmit)="storeEmp()">
        <input type="number" placeholder="Enter Employee Id" formControlName="id"/> <br>
        <input type="text" placeholder="Enter First Name " formControlName="first_name"/> <br>
        <input type="text" placeholder="Enter Last Price " formControlName="last_name"/> <br>
        <input type="text" placeholder="Enter Email ID " formControlName="email"/> <br>
        <input type="submit" value="Add Employee" class="btn btn-success"/>
        <input type="button" value="View All Employee" (click)="ViewAll()"/>
    </form>
</div>