<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 1100px; margin: auto;border-radius: 5px;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-weight:bold" href="#">Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="emp">Employees</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
  
  <hr style="width: 1100px;margin:auto;margin-top: 15px;margin-bottom: 15px;">

<div style="background-color: rgba(248,249,250,255);margin: auto;
height: 400px;width: 1100px;border-radius: 5px;">

    <button class="btn btn-secondary" style="margin-top: 20px;margin-left: 50px;padding: 10px 20px 10px 20px;"><a style="text-decoration: none;color:white" routerLink="emp-store">Add New Employee</a></button>
    <hr style="width: 1000px;margin:auto;margin-top: 15px;margin-bottom: 15px;">

    <div style="padding-left: 50px;padding-right: 50px;">
    <table border="1" class="table" >
        <thead>
        <tr>
            <th scope="col">EId</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">View Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
                <td>{{emp.id}}</td>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.email}}</td>
                <td><input type="button" value="View Details" (click)="viewDetails(emp)" class="btn btn-secondary"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>